<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TesteIos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ACDE81BD1D6292E200F8B753</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACDE81D11D6292E200F8B753</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACDE81DC1D6292E200F8B753</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
